<template id="column">
    <div class="column col">
        <div class="columnHeader">
          <p class="title">New column</p>
          <p class="columnID"></p>
          <div class="columnActions">
            <div class="editButton">
              <i class="fas fa-ellipsis-h"></i>
              <div class="editOptions">
                <span class="updateColumn">Edit column</span>
                <span class="deleteColumn">Delete column</span>
              </div>
            </div>
            <div>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
        </div>
        <div class="content">
        </div>
      </div>
</template>
<template id="todocolumn">
  <div class="toDoColumn col">
    <div class="columnHeader">
      <p class="title">To do</p>
      <p class="columnID"></p>
      <div class="columnActions">
        <div class="editButton">
          <i class="fas fa-ellipsis-h"></i>
          <div class="editOptions">
            <span class="updateColumn">Edit column</span>
          </div>
        </div>
        <div>
          <i class="fas fa-plus-circle"></i>
        </div>
      </div>
    </div>
    <div class="content">
    
    </div>
  </div>
</template>
<template id="donecolumn">
  <div class="doneColumn col">
    <div class="columnHeader">
      <p class="title">Done</p>
      <p class="columnID"></p>
      <div class="columnActions">
        <div class="editButton">
          <i class="fas fa-ellipsis-h"></i>
          <div class="editOptions">
            
          </div>
        </div>
      </div>
    </div>
    <div class="content">
    
    </div>
  </div>
</template>