<main id='home'>
    <div class="board">
      
    </div>
    <div id="addModal" class="modal">
      <div class="modalContent">
        <label for="columnName">Column name:</label>
        <input id="columnName" type="text" class="name">
        <div class="buttonWrapper">
          <button id="cancelButton">Cancel</button>
          <button id="addButton">Save</button>
        </div>
      </div>
    </div>
    <div id="addTicketModal" class="modal">
      <div class="modalContent">
        <label for="ticketNumber">Ticket number:</label>
        <input id="ticketNumber" type="text" class="name">
        <label for="ticketName">Ticket name:</label>
        <input id="ticketName" type="text" class="name">
        <label for="ticketLabel">Ticket Label:</label>
        <input id="ticketLabel" type="text" class="name">
        <div class="buttonWrapper">
          <button id="cancelTicketButton">Cancel</button>
          <button id="addTicketButton">Save</button>
        </div>
      </div>
    </div>
    <div id="updateColumnModal" class="modal">
      <div class="modalContent">
        <label for="updateColumnName">Column name:</label>
        <input id="updateColumnName" type="text" class="name">
        <div class="buttonWrapper">
          <button id="cancelUpdateColumn">Cancel</button>
          <button id="saveUpdateColumn">Save</button>
        </div>
      </div>
    
    </div>
</main>