<main>

    <div class="addColumnBtn">
        <input type="text" class="colName">
        <button class="add">Add</button>
    </div>

    <div id="mainContainer"> </div>

    <!-- Column template -->
    <template id="tempColumn">
        <div class="column" data-column-id>
            <div class="columnHeader">
                <div class="columnTitle">Done</div>
                <div class="editColumn">
                    <div class="edit">...</div>
                    <div class="addColumn" data-column-id>+</div>
                </div>

            </div>

            <div class="columnBody">

                <!-- Add card template -->

            </div>

        </div>
        </div>
    </template>


    <!-- Card template-->
    <template id="tempCard">
        <div class="cardContainer">

            <div class="issueInfo">
                <div class="issueNumber">Issue number</div>
                <div class="cardName">Iss 004</div>
            </div>

            <div class="filter"><i>None</i></div>
            <div class="remainingTime">2h</div>

        </div>
    </template>



</main>