<main>

    <div class="addColumnBtn">
        <input type="text" class="colName">
        <button class="add">Add</button>
    </div>

    <!-- Container for colunmns and tickets -->
    <div id="mainContainer"> </div>

    <!-- Ticket creation container -->
    <div id="ticketWrapper">
        <div id="ticketInfoContainer">
            <h2>Create issue</h2>
            <div id="ticketInfo">
                <div>
                    <div>Issue Type</div>
                    <div class="issueType">Bug</div>
                </div>

                <div class="ticketNumber"></div>
                <input class="ticketTitle" placeholder="Add a ticket description">
                <div class="label">
                    <div>Label</div>
                    <div class="ticketFilter"><i>None</i></div>
                </div>
                <input class="ticketEstimatedTime" placeholder="Estimated time">
            </div>

            <div id="ticketInfoButtons">
                <div class="createTicket">Create</div>
                <div class="cancelTicket">Cancel</div>
            </div>

        </div>
    </div>



    <!-- Column template -->
    <template id="tempColumn">
        <div class="column" data-column-id>
            <div class="columnHeader">
                <div class="columnTitle">Done</div>
                <div class="editColumn">
                    <div class="edit">...</div>
                    <div class="addColumn" data-column-id>+</div>
                </div>
            </div>

            <div class="columnBody">

                <!-- Add card template -->

            </div>

        </div>
        </div>
    </template>


    <!-- Card template-->
    <template id="tempCard">
        <div class="cardContainer">

            <div class="issueInfo">
                <div class="issueNumber">Issue 004</div>
                <div class="cardName">Ticket Title</div>
            </div>

            <div class="filter"><i>None</i></div>
            <div class="remainingTime">2h</div>

        </div>
    </template>



</main>