.comment {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}
.commentText {
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    width: 100%;
}
.commentValue {
    border: 2px solid black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.userComments{ 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
    width: 100%;
}
.commentOptions {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 20%;
}
.commentID {
    display: none;
}