:root {
    --primary-color: #1a3755;
    --secondary-color: #d7d149;
    --complementary-color: #edf2f6;
    --button-hover-color: #537ba4;
    --column-backgroud : linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    --span-hover-color: rgb(213, 243, 145);

    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-family: 'Raleway', sans-serif; */
    font: 500 2rem/1.4 'Raleway', sans-serif;
}

header {
    width: 100%;
    padding: 30px 10px;
    background-color: var(--primary-color);
    text-align: center;
}

main {
    width: 100%;
    text-align: center;
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    left: 0; */
    /* width: 600px; */

}
i {
    cursor: pointer;
}
i:hover {
    color: var(--span-hover-color);
}

footer {
    padding: 30px 10px;
    text-align: center;
    background-color: var(--complementary-color);
}

h1 {
    color: #FFFFFF;
    font-size: 3.5rem;
    font-weight: 600;
}

button {
    margin: 5px;
    padding: 13px 25px;
    border: none;
    border-radius: 4px;

    background-color: var(--primary-color);
    color: #FFFFFF;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color 150ms ease;
}

button:hover {
    background-color: var(--button-hover-color)!important;
}

.logo {
    margin: 20px;
}

.secondary-color {
    color: var(--secondary-color);
}

.decoration {
    animation: rotate 2000ms linear infinite;
}

.button, .button-cta {
    transition: transform 500ms cubic-bezier(1, 0.01, 0.57, 1.35);
}
.board {
    font-size: small;
    display: flex;

    justify-content: center;

    padding: auto;
    /* flex-grow: 1; */
}
h5.warning {
    color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modalContent {
    animation-name: sweepModal;
    animation-duration: 1s;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #888;
    width: 60%;
}
.buttonWrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(180deg);}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
@keyframes sweepModal {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);  
    }
}
@keyframes scaleIn {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }   
}
@keyframes scaleOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
    
}