body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main container */
#mainContainer {
    width: 95%;
    min-height: 800px;
    margin: 50px auto;
    padding: 2px 5px;
    display: flex;
    column-gap: 15px;
}

/* Column component*/
.column {
    width: 300px;
    background-color: #f4f5f7;
    border-radius: 0 0 4px 4px;
    padding: 5px 2px;
    position: relative;
}

.columnHeader,
.editColumn {
    padding: 5px;
    color: #5e6c84;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.editColumn {
    display: none;
}

.editColumn > * {
    cursor: pointer;
}

.columnHeader:hover .editColumn {
    display: flex;
    width: 100%;
}

.columnHeader:not(.last):hover .columnTitle {
    display: none;
}

.first:hover {
    justify-content: flex-end;
}

.first:hover .editColumn{
    width: unset;
}

.addColumn {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.columnBody {
    padding: 0px 3px;
}

/* End column component */

/* Card component */

.cardContainer {
    border-radius: 2px;
    border-left: 3px solid #cc3366;
    box-shadow: 0 1px 2px 0 rgb(9 30 66 / 25%);
    height: 110px;
    margin: 7px 2px;
    background-color: #fff;
    cursor: move;
    transition: 0.3s all;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardContainer:hover {
    background: #f5f5f5;
    border-color: #999;
    border-left: 3px solid #cc3366;
}

.addColumnBtn {
    display: none;
    z-index: 10;
}
